<section>
  <img src="<%= data.thumbnail%>" alt="<%= data.title%>">
  <h3><%= data.title%></h3>
  <h5><%= data.author%></h5>
  <p><%= data.description%></p>
  <h4><%= data.isbn%></h4>
  <h4><%= data.bookshelf%></h4>
</section>