<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css" type="text/css">
  <link rel="stylesheet" href="/styles/base.css" type="text/css">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
  <title>Book App</title>
</head>

<body id="results">
  <nav>
    <h1>Book App</h1>
    <p id="menu"> ■ </p>
  </nav>
  <h2>Search Results</h2>
  <div id="results-div">
    <% data.forEach(value => { %>
    <section>
      <img src="<%= value.thumbnail%>" alt="<%= value.title%>">
      <h3><%= value.title%></h3>
      <h4><%= value.author%></h4>
      <p><%= value.description%></p>
    </section>
    <%})%>
  </div>
  <footer>
    <a href="">Twitter</a>
    <a href="">Facebook</a>
    <a href="">Instagram</a>
    <a href="">Other</a>
  </footer>
</body>

</html>